**/node_modules/
**/oh_modules/
**/build/
**/.hvigor/
**/.test/
**/BuildProfile.ets
**/__pycache__/

/local.properties
**/build-profile.local.json5
**/.env
**/.env.*
!**/.env.example
**/.idea/
**/linter-cache/
/.appanalyzer/
.preview/
.dsh-hdc/

.DS_Store
Thumbs.db
*.log
*.hap
*.hsp
*.app
*.p12
*.p7b
*.cer
*.pfx
*.jks
*.keystore
*.pem
*.key

.cxx/
.clangd
.clang-format
.clang-tidy
